body{
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #b7b7b7;
}
.hero {
  text-align: left;
  padding: 10px;
	margin: 30px;

}


.menu ul {
  font-size: large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #395870;
  background: linear-gradient(#48708f, #293f50);



}

.menu a {

  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}


li {
  float: left;
  border-right: 1px solid #fff;
}
.menu li a {
  display: block;
  padding: 8px;
}

li:last-child {
  border-right: none;

  }

.menu ul {
  position: -webkit-sticky; /* Safari */
  poition: sticky;
  top: 0;
  width: 100%;
}

.active {
  background-color: #4CAF50;
}
