body{
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: arial;
  width: 100%;
  background: #b7b7b7;
}
.hero {
  text-align: left;
  padding: 10px;
	margin: 30px;

}
.menu ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


