body{
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: arial;
  width: 100%;
  background: #b7b7b7;
}
.hero {
  text-align: left;
  padding: 10px;
	margin: 30px;

}

.menu li {
  display: inline-block;
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

.menu a {
  border-right: 1px rgb(0,0,0,.3)
  color: #fff;
  background: #395870
  padding: 12px 20px;
  
  }

